/.svn/*
/.settings/*
/.build/*
/.test/*
/Debug/*
/Release/*
/Debug/
/Release
*.log
/gmon.out
**/*.gmon
*.core
/.config.mk
/INSTALL/
/modules/
/tmp
/scripts/venv/
/scripts/.idea/
/impulse_responses/*
/simulations/*
/res/test/*.wav
